// Core variables and mixins
@import "app/bower_components/bootstrap/less/variables.less";
@import "app/bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "app/bower_components/bootstrap/less/normalize.less";
@import "app/bower_components/bootstrap/less/print.less";
@import "app/bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "app/bower_components/bootstrap/less/scaffolding.less";
@import "app/bower_components/bootstrap/less/type.less";
@import "app/bower_components/bootstrap/less/code.less";
@import "app/bower_components/bootstrap/less/grid.less";
@import "app/bower_components/bootstrap/less/tables.less";
@import "app/bower_components/bootstrap/less/forms.less";
@import "app/bower_components/bootstrap/less/buttons.less";

// Components
@import "app/bower_components/bootstrap/less/component-animations.less";
@import "app/bower_components/bootstrap/less/dropdowns.less";
@import "app/bower_components/bootstrap/less/button-groups.less";
@import "app/bower_components/bootstrap/less/navs.less";
@import "app/bower_components/bootstrap/less/navbar.less";
// @import "app/bower_components/bootstrap/less/breadcrumbs.less";
// @import "app/bower_components/bootstrap/less/pagination.less";
// @import "app/bower_components/bootstrap/less/pager.less";
// @import "app/bower_components/bootstrap/less/labels.less";
// @import "app/bower_components/bootstrap/less/badges.less";
// @import "app/bower_components/bootstrap/less/jumbotron.less";
// @import "app/bower_components/bootstrap/less/thumbnails.less";
// @import "app/bower_components/bootstrap/less/alerts.less";
// @import "app/bower_components/bootstrap/less/progress-bars.less";
// @import "app/bower_components/bootstrap/less/media.less";
// @import "app/bower_components/bootstrap/less/list-group.less";
// @import "app/bower_components/bootstrap/less/panels.less";
// @import "app/bower_components/bootstrap/less/responsive-embed.less";
// @import "app/bower_components/bootstrap/less/wells.less";
// @import "app/bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
// @import "app/bower_components/bootstrap/less/modals.less";
// @import "app/bower_components/bootstrap/less/tooltip.less";
// @import "app/bower_components/bootstrap/less/popovers.less";
// @import "app/bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "app/bower_components/bootstrap/less/utilities.less";
@import "app/bower_components/bootstrap/less/responsive-utilities.less";



@black: #1C1D21;
@grey: #31353D;
@blue: #445878;
@green: #92CDCF;
@white: #EEEFF7;

@futura: "futura-pt", Helvetica, Arial, sans-serif;

@loaderDelay : 100;
@loaderDuration : 2000;
@animationTiming: cubic-bezier(.645, .045, .355, 1);
@numbars: 30;

html, body { height: 100%;}

.section {
	padding: 2em 0;

	@media (min-width: @screen-sm-min) {
		padding-bottom: 10em;
		min-height: 100%;
		h2 {
			margin-top: 1em;
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family: @futura;
	text-transform: uppercase;
}

h1 {
	font-size: 4em;
}

h2 {
	color: @grey;
	font-size: 5em;
	text-align: center;
	margin-bottom: 0.5em;
	@media (min-width: @screen-sm-min) {
		margin-bottom: 1em;
	}
}

.wf-active .header .the-nav {
	visibility: visible;
}

.header {
	background-color: @black;
	position: relative;
	height: 100%;
	
	.the-nav {
		visibility: hidden;
		transition:all 0.5s linear;
	}

	.container {
		height: 218px;
		position: absolute;
		top: 50%;
		margin: -109px auto 0;
		width: 100%;
		padding:0;
	}

	.navbar-toggle {
		z-index: 2;
		display: none;
	}

	h1 {
		margin: 0.1em 0 0;
		color: @white;
		text-align: center;
		font-size: 3em;
		z-index: 1;
			position: absolute;
			left: 50%;
			width: 100%;
			margin-left: -50%;
		@media (min-width: @screen-sm-min) { 
			font-size: 4em;
			position: static;
			margin-left: 0;
		}
	}
}

.navbar-default {
	background: @black;
	font-family: @futura;
	border: none;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 10px;

	 .navbar-nav > li > a:hover, .navbar-nav > li.active > a, .navbar-nav > li.active > a:hover {
		background-color: @white;
		color: @black;
	}
	
	@media (min-width: @screen-sm-min) {
		text-align: center;
		// margin: 0 -20px;

		.navbar-nav {
			float: none;

			li {
				float: none;
				display: inline-block;
			}
	}
	}
}

.nav-fixed {
	z-index: 99;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: @black;
}

.logo {
	width: 300px;
	margin: 0 auto;
	height: 100px;
	display: block;
	overflow: hidden;
	font-size: 0;

	@media (min-width: @screen-sm-min) {
		height: 100px;
	}

	.bar {
		background-color: @white;
		height: 150 px;
		width: 10px;
		margin-right: 3px;
		display: inline-block;
	  	animation-iteration-count: infinite;
	  	// animation-delay: 500ms;

	    animation-name: slidedown;
	    animation-duration: 500ms;
	    animation-timing-function: linear;
		transform-origin: bottom left;
	}

	.generate-bars(@numbars);
}

.generate-bars(@n, @i: 1) when (@i =< @n) {
  .bar@{i} {
	.make-random(1, 100);
    height: unit(@rnd,px);
    animation-name: "slidedown@{i}";
  }
  .generate-bars(@n, (@i + 1));
}

.generate-keyframes(@numbars);
.generate-keyframes(@n, @i: 1) when (@i =< @n) {
	@keyframes ~'slidedown@{i}' {
		.make-random(1,50);
		.make-second-random(@rnd,90);
		@selector: e('@{rndtwo}%');
		0% {transform: rotateX( unit(@rnd,deg));}
		@{selector} {transform: rotateX(unit(@rndtwo,deg));}
	}
	.generate-keyframes(@n, (@i + 1));

}

.make-random(@min, @max) { 
  @rnd: floor(`Math.random() * @{max} + @{min}`);
}
.make-second-random(@min, @max) { 
  @rndtwo: floor(`Math.random() * (@{max} - @{min}) + @{min}`);
}
.pick-animation() {
  @num: floor(`Math.random() * 3 + 1`);
  @anim: "slidedown@{num}";

}

.music {
	&:extend(.section);
}

.featured-artist, .what-we-do {

	background-color: @blue;
	color: @white;
	&:extend(.section);

	h2 {
		color: @white;
	}

	.photo {
		height: 250px;
		width: 250px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0 auto 2em;

		@media (min-width: @screen-sm-min) {
			margin: 0;
		}
	}
}

.who-we-are {
	&:extend(.section);
}



.contact {
	&:extend(.section);

}

.content-info {
	padding: 2em 0; 
	background-color: @black;
	color: @white;
	font-weight: 300;

	a {
		color: @white;
	}
}